.auth {
    overflow-y: auto;
}

.bg-img {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}

.title-auth {
    font-size: 3.5rem;
    font-weight: 900;
    color: rgba(6, 17, 48, 1);
    text-align: center;
    margin-top: 6%;
}

.auth {
    display: flex;
    background-color: rgba(214, 240, 240, 1);
    border-radius: 25px;
    box-shadow: 0px 4px 15px 0px rgba(95, 144, 133, 0.15);
    padding: 20px;
    width: 400px;
    margin: 50px auto;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.auth-input {
    width: 300px;
    height: 20px;
    padding: 10px 20px;
    margin: 10px 0;
    border-radius: 100px;
    border: 0px solid rgba(0, 0, 0, 0.1);
}

.auth-input::placeholder {
    color: rgba(0, 0, 0, 0.5);
}

.auth-forgot {
    font-size: 1rem;
    font-weight: 600;
    text-align: left;
    width: 320px;
    margin-top: 10px;
}

.auth-button {
    display: block;
    box-shadow: 0px 8px 10px 0px rgba(255, 255, 255, 0.25) inset;
    background: rgba(0, 165, 125, 1);
    width: 340px;
    height: 40px;
    line-height: 40px;
    border-radius: 100px;
    color: #fff;
    text-align: center;
    font-size: 1rem;
    font-weight: 800;
    margin: 20px 0;
    transition: background 0.5s ease;
}

.auth-button:hover {
    background: rgba(0, 165, 125, 0.8);
}

.auth-button:active {
    background: rgba(0, 165, 125, 0.6);
}

.oauth-button {
    display: flex;
    align-items: center;
    justify-content: center;

    box-shadow: 0px 6px 4px 0px rgba(188, 185, 185, 0.25) inset;
    background: rgba(255, 254, 239, 1);
    width: 340px;
    height: 40px;
    line-height: 40px;
    border-radius: 100px;
    color: rgba(65, 65, 65, 1);
    font-size: 1rem;
    font-weight: 500;
    margin-top: 20px;
    transition: background 0.5s ease;
}

.oauth-button:hover {
    background-color: rgba(245, 255, 252, 1);
}

.oauth-button:active {
    background-color: rgba(255, 255, 255, 1);
}

.oauth-icon {
    width: 20px;
    height: 20px;
    margin-right: 10px;
}

.auth-call-to {
    font-size: 1rem;
    font-weight: 600;
    text-align: center;
    width: 320px;
    margin: 30px 0 10px 0;
}

.auth-call-to-button {
    color: rgba(0, 165, 125, 1);
    text-decoration: none;
}
