@use "./styles/navbar";
@use "./styles/page";
@use "./styles/auth";
@use "./styles/audio_player";

@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

body {
    font-family: "Nunito", sans-serif;
    margin: 0;
    padding: 0;
    background-color: #000000;
}

* {
    box-sizing: border-box;
}

.bg-container {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center top;
    background-attachment: scroll;
    min-height: 100vh;
}

@media (max-width: 768px) {
    .bg-container {
        background-size: auto 100%;
        background-position: center center;
    }
}

.bg-1 {
    background-image: url("/bg-1.jpg");
}

.bg-2 {
    background-image: url("/bg-2.jpg");
}

.bg-3 {
    background-image: url("/bg-3.jpg");
}

.bg-4 {
    background-image: url("/bg-4.jpg");
}

.bg-5 {
    background-image: url("/bg-5.jpg");
}

.bg-6 {
    background-image: url("/bg-6.jpg");
}

.text-justify {
    text-align: justify;
}

.my-shadow-inset {
    box-shadow: 4px 4px 10px 0px rgba(6, 17, 48, 0.10) inset;
}

.my-color {
    color: #00A57D;
}

.my-color-2 {
    color: #414141;
}

.my-bg {
    background: #00A57D;
}

.my-bg-2 {
    background: #CCF6FF;
}

.fw-900 {
    font-weight: 900;
}

.w-32px {
    width: 32px;
}

$font-family-san-serif: "Nunito Sans", sans-serif;
$font-family-base: $font-family-san-serif;